{% extends "layout.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/jqcloud.min.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <div align="center"><H1>Currency Popularity from yesterday's articles</H1></div>
    <div align="center">currencies are among the top 100 currencies taken from CoinMarketCap<h3></h3></div>
    <div id="word_cloud"></div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/jqcloud.min.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}
